.nav-bar {
    border-bottom: 1px solid #eaeaea;
    .nav-container {
        width: 900px;
        .nav-title {
            font-family: 'Damion', cursive;
            font-size: 20px;
        }
    }
}